#page-room {
    header {
        padding: 1.5rem;
        border-bottom: 1px solid #E2E2E2;

        .content {
            max-width: 70rem;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            > img {
                max-height: 2.8125rem;
            }
        }
    }

    main {
        max-width: 50rem;
        margin: 0 auto;

        .room-title {
            margin: 2rem 0 1.5rem;
            display: flex;
            align-items: center;

            h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.5rem;
                color: #29292E;
            }

            span {
                margin-left: 1rem;
                background: #E559F9;
                border-radius: 9999px;
                padding: 0.5rem 1rem;
                color: #FFF;
                font-weight: 500;
                font-size: 0.875rem;
            }
        }

        form {
            textarea {
                width: 100%;
                border: 0;
                padding: 1rem;
                border-radius: 0.5rem;
                background: #FEFEFE;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
                resize: vertical;
                min-height: 8.125rem;
            }

            .form-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                margin-top: 1rem;

                .user-info {
                    display: flex;
                    align-items: center;

                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                    }

                    span {
                        margin-left: 0.5rem;
                        color: #29292E;
                        font-weight: 500;
                        font-size: 0.875rem;
                    }
                }

                > span {
                    font-size: 0.875rem;
                    color: #737380;
                    font-weight: 580;

                    button {
                        background: transparent;
                        border: 0;
                        color: #835AFD;
                        text-decoration: underline;
                        font-size: 0.875rem;
                        font-weight: 500;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
